.bandeira { background: url('../images/bandeira.png') no-repeat top left; width: 30px; height: 30px;  } 
.bandeira.time1 { background-position: 0px 0px;  } 
.bandeira.time2 { background-position: -40px 0px;  } 
.bandeira.time3 { background-position: -80px 0px;  } 
.bandeira.time4 { background-position: -120px 0px;  } 
.bandeira.time5 { background-position: -160px 0px;  } 
.bandeira.time6 { background-position: -200px 0px;  } 
.bandeira.time7 { background-position: -240px 0px;  } 
.bandeira.time8 { background-position: -280px 0px;  } 
.bandeira.time9 { background-position: -320px 0px;  } 
.bandeira.time10 { background-position: -360px 0px;  } 
.bandeira.time11 { background-position: -400px 0px;  } 
.bandeira.time12 { background-position: -440px 0px;  } 
.bandeira.time13 { background-position: -480px 0px;  } 
.bandeira.time14 { background-position: -520px 0px;  } 
.bandeira.time15 { background-position: -560px 0px;  } 
.bandeira.time16 { background-position: -600px 0px;  } 
.bandeira.time17 { background-position: -640px 0px;  } 
.bandeira.time18 { background-position: -680px 0px;  } 
.bandeira.time19 { background-position: -720px 0px;  } 
.bandeira.time20 { background-position: -760px 0px;  } 
.bandeira.time21 { background-position: -800px 0px;  } 
.bandeira.time22 { background-position: -840px 0px;  } 
.bandeira.time23 { background-position: -880px 0px;  } 
.bandeira.time24 { background-position: -920px 0px;  } 
.bandeira.time25 { background-position: -960px 0px;  } 
.bandeira.time26 { background-position: -1000px 0px;  } 
.bandeira.time27 { background-position: -1040px 0px;  } 
.bandeira.time28 { background-position: -1080px 0px;  } 
.bandeira.time29 { background-position: -1120px 0px;  } 
.bandeira.time30 { background-position: -1160px 0px;  } 
.bandeira.time31 { background-position: -1200px 0px;  } 
.bandeira.time32 { background-position: -1240px 0px;  } 