<div class="header navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="NavbarCtrl">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Bolão DTV</a>
		</div>
		<div class="navbar-collapse collapse">

			<ul class="nav navbar-nav">
				<li ng-show="currentUser" ng-class="{active : isActive('/bolao')}"><a href="/bolao"><span class="glyphicon glyphicon-list-alt"></span> Palpites</a></li>
				<li ng-class="{active : isActive('/signup')}" data-ng-hide="currentUser"><a href="/signup"><span class="glyphicon glyphicon-user"></span> Cadastro</a></li>
				<li ng-class="{active : isActive('/ranking')}"><a href="/ranking"><span class="glyphicon glyphicon-stats"></span> Ranking</a></li>
				<li ng-class="{active : isActive('/regulamento')}"><a href="/regulamento"><span class="glyphicon glyphicon-info-sign"></span> Regulamento</a></li>
				<li ng-class="{active : isActive('/partidas')}" data-ng-hide="currentUser.role != 'admin'"><a href="/partidas"><span class="glyphicon glyphicon-wrench"></span> Gerenciar Partidas</a></li>
			</ul>

			<ul ng-show="currentUser" class="nav navbar-nav navbar-right">
				<li><a href="" ng-click="logout()">Logout</a></li>
			</ul>
			<form ng-hide="currentUser" class="form navbar-form navbar-right" name="form" ng-submit="login(form)"
			novalidate>
			<div class="form-group">
				<input type="text" placeholder="Usuário" class="form-control" id="email" name="email"
				ng-model="user.email">
			</div>
			<div class="form-group">
				<input type="password" placeholder="Senha" class="form-control" id="password" name="password"
				ng-model="user.password">
			</div>
			<button type="submit" class="btn btn-success">Entrar</button>
		</form>

	</div>
</div>
</div>